<% @newspaper.comments.order("created_at DESC").each do |comment| %>
  <%if comment.user.present?%>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-sm">
          <h6> Comment :<%= comment.body %></h6> 
          <div >
            <h6 class="badge badge-xs badge-link"><%= link_to("Commented by: #{comment.user.first_name}", newspaper_comment_path(@newspaper.comments)) if @newspaper.user %></h6><br/>
            <small >Created at:<%= time_ago_in_words(comment.created_at) %> ago | Last updated: <%= time_ago_in_words(comment.updated_at) %> ago</small>
            <% if user_signed_in? && current_user == comment.user%>
            <div >
              <%= link_to "Edit this comment", edit_newspaper_comment_path(comment), class: "badge badge-xs badge-primary" %> 
              <%= link_to "Delete this comment", newspaper_comment_path(comment), 
              method: :delete, 
              data: {confirm: "Are you sure you want to delete the newspaper?"}, class: "badge badge-xs badge-danger" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
<% end %>

<p>
  <%= link_to 'Destroy Comment', newspaper_comment_path(@newspaper, @newspaper.comments),
               method: :delete,      
                 data: { confirm: 'Are you sure?' } %>
</p>
      <%= link_to 'Edit', edit_newspaper_path(@newspaper) %> |
      <%= link_to 'Back', newspapers_path %>


<div class="container">
  <div class="row">
    <div class="comments col-md-9" id="comments">
      <h3 class="mb-2">Comments</h3>
      <!-- comment -->
      <div class="comment mb-2 row">
        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
          <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m103.jpg" alt="avatar"></a>
        </div>
        <div class="comment-content col-md-11 col-sm-10">
          <h6 class="small comment-meta"><a href="#">admin</a> Today, 2:38</h6>
          <div class="comment-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <a href>http://wwwwww.com</a> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
              <br>
              <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
            </p>
          </div>
        </div>
        
        <!-- reply is indented -->
        <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
          <div class="row">
            <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
              <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="avatar"></a>
            </div>
            <div class="comment-content col-md-11 col-sm-10 col-12">
              <h6 class="small comment-meta"><a href="#">phildownney</a> Today, 12:31</h6>
              <div class="comment-body">
                <p>Really?? Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                  <br>
                  <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /reply is indented -->
      </div>
      <!-- /comment -->
      <!-- comment -->
      <div class="comment mb-2 row">
        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
          <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/w102.jpg" alt="avatar"></a>
        </div>
        <div class="comment-content col-md-11 col-sm-10">
          <h6 class="small comment-meta"><a href="#">maslarino</a> Yesterday, 5:03 PM</h6>
          <div class="comment-body">
            <p>Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
              <br>
              <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
            </p>
          </div>
        </div>
      </div>
      <!-- /comment -->
      <div class="row pt-2">
        <div class="col-12">
          <a href="" class="btn btn-sm btn-primary">Comment</a>
        </div>
      </div>

    </div>
  </div>
</div>