<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="sample" align="center"> Listing all Users 

        <small>
          <li class="nav-item dropdown" style="list-style-type:none">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-sort-amount-down"></i> SORT BY
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Date created(oldest)", newspapers_path(order: "oldest"), class: "dropdown-item" %> 
              <%= link_to "Date created(newest)", newspapers_path(order: "newest"), class: "dropdown-item" %> 
              <%= link_to "Alphabet", newspapers_path(order: "alphabet"), class: "dropdown-item" %> 
            </div>
          </li>
        </small>
      </h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>F.Name</th>
              <th>L.Name</th>
              <th>Email</th>
              <th>Profile</th>
              <th>Role</th>
              <th>Sign In Count</th>
              <th>Newspapers Count</th>
              <th>Comments Count</th>
              <th>Edit Profile</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each_with_index do |user,index| %>
              <tr class="tr-usertable clickable-to-user" data-target="<%= user_path(user) %>">
                <td><%= index %></td>
                <td><%= user.first_name.capitalize %></td>
                <td><%= user.last_name.capitalize %></td>
                <td><%= user.email %><br/>
                </td>
                <td> <%= image_tag user.image.url(:thumb), class: "rounded-circle" %> <br/>
                <% if user.role == "admin" %>
                  <td><%= link_to "Admin", users_path(filter: "admin") %> </td>
                  <td><%= user.sign_in_count %></td>
                  <td><%= newspaper_count(user) %></td>
                  <td><%= comment_count(user)%></td>
                  </td>
                    <td> <%= render "users/action", user: user %></td>
                <% else %>
                  <td><%= user.role.capitalize %></td>
                  <td><%= user.sign_in_count %></td>
                  <td><%= comment_count(user) %></td>
                  <td><% if comment_count(user) == 0 %>
                    <%= "0" %>
                    <% end %>
                  </td>
                    <td> <%= render "users/action", user: user %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <div class="row pagination" >
    <p align="center"><%= will_paginate @user, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </p>
</div>

<script type="text/javascript">
  $('.clickable-to-user').click(function(){
    console.log($(this).data('target'));
    window.location.replace($(this).data('target'));
  })
</script>


