<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="sample" align="center"> Listing all Users 
      </h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= link_to "No.", "#" %></th>
              <th><%= link_to "F.Name", users_path(order: "first_name")%> </th>
              <th><%= link_to "L.Name", users_path(order: "last_name")%></th>
              <th><%= link_to "Email", users_path(order: "email")%></th>
              <th><%= link_to "Profile", "#"%></th>
              <th><%= link_to "Role", "#"%></th>
              <th><%= link_to "SignIn", users_path(order: "sign_in") %></th>
              <th><%= link_to "Newspapers", "#"%></th>
              <th><%= link_to "Comments", "#"%></th>
              <th ><%= link_to "Edit Profile", "#"%></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each_with_index do |user,index| %>
              <tr class="tr-usertable clickable-to-user" data-target="<%= user_path(user) %>">
                <td><%= params[:page].present? ? index+5*(params[:page].to_i-1) : (index+1) %></td>
                <td><%= user.first_name.capitalize %></td>
                <td><%= user.last_name.capitalize %></td>
                <td><%= user.email %><br/>
                </td>
                <td class="avatar"> <%= image_tag user.avatar_url_user, class: "rounded-circle" %> <br/>
                <% if user.role == "admin" %>
                  <td><%= "Admin" %> </td>
                  <td><%= user.sign_in_count %></td>
                  <td><%= newspaper_count(user) %></td>
                  <td><%= comment_count(user)%></td>
                  </td>
                    <td> <%= render "users/action", user: user %></td>
                <% else %>
                  <td><%= user.role.capitalize %></td>
                  <td><%= user.sign_in_count %></td>
                  <td><%= comment_count(user) %></td>
                  <td><% if comment_count(user) == 0 %>
                    <%= "0" %>
                    <% end %>
                  </td>
                    <td> <%= render "users/action", user: user %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <div class="row pagination" >
    <p align="center"><%= will_paginate @user, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </p>
</div>

<script type="text/javascript">
  $('.clickable-to-user').click(function(){
    console.log($(this).data('target'));
    window.location.replace($(this).data('target'));
  })
</script>


