<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="sample" align="center"> Listing all Users 
      </h1>
        <table class="table table-hover">
          <thead id="head-table">
            <tr>
              <th><%= link_to "No.", "#" %></th>
              <th><%= link_to "F.Name", users_path(order: "first_name", direction: switch(@first_name_direction))%> </th>
              <th><%= link_to "L.Name", users_path(order: "last_name")%></th>
              <th><%= link_to "Email", users_path(order: "email")%></th>
              <th><%= link_to "Profile", "#"%></th>
              <th><%= link_to "Role", "#"%></th>
              <th><%= link_to "SignIn", users_path(order: "sign_in") %></th>
              <th><%= link_to "Newspapers", "#"%></th>
              <th><%= link_to "Comments", "#"%></th>
              <th ><%= link_to "Edit Profile", "#"%></th>
            </tr>
          </thead>
          <div id="body-searching">
            <%= render "body_search", user: @users%>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>
  <div class="row pagination" >
    <p align="center"><%= will_paginate @user, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </p>
</div>

<script type="text/javascript">
  $('.clickable-to-user').click(function(){
    console.log($(this).data('target'));
    window.location.replace($(this).data('target'));
  })
</script>


