<div class="container sample offset-3">
  <div class="col-md-6 " >
    <nav arialabel="breadcrumb" >
      <span for="exampleInputEmail1" class="exampleInputEmail1"><%= @user.last_name.capitalize %>'s' Profile</span>
      <ol class="breadcrumb" align="center">
        <li class="breadcrumbitem active" ariacurrent="page"><h3> <%= image_tag @user.image.url(:medium), class: "rounded-circle" %></h3></li>
      </ol>
    </nav>
    
    <nav arialabel="breadcrumb" >
      <span for="exampleInputEmail1" class="exampleInputEmail1">Email address</span>
      <ol class="breadcrumb" align="center">
        <li class="breadcrumbitem active" ariacurrent="page"><h3> <%= @user.email %></h3></li>
      </ol>
    </nav>
    <nav arialabel="breadcrumb">
      <span for="exampleInputEmail1">First Name</span>
      <ol class="breadcrumb">
        <li class="breadcrumbitem active" ariacurrent="page"><h3> <%= @user.first_name.capitalize %></h3></li>
      </ol>
    </nav>
    <nav arialabel="breadcrumb">
      <span for="exampleInputEmail1">Last Name</span>
      <ol class="breadcrumb">
        <li class="breadcrumbitem active" ariacurrent="page"><h3> <%= @user.last_name.capitalize %></h3></li>
      </ol>
    </nav>
    <nav arialabel="breadcrumb">
      <span for="exampleInputEmail1">Role</span>
      <ol class="breadcrumb">
        <li class="breadcrumbitem active" ariacurrent="page"><h3 class="role"> <%= @user.role.capitalize %></h3></li>
      </ol>
    </nav>
  </div>
</div>