<div class="container sample offset4">
  <div class="row colmd6" >
    <h2 class="titleprofile"><%= @user.first_name %> <%= @user.last_name %>'s' Profile</h2>
    <div class="image">
      <img src="/assets/1.jpg" alt="San Francisco" width="200" height="200" class="roundedcircle">
    </div>
  </div>
  <div>
    <nav arialabel="breadcrumb">
      <span for="exampleInputEmail1">Email address</span>
      <ol class="breadcrumb">
        <li class="breadcrumbitem active" ariacurrent="page"><h3> <%= @user.email %></h3></li>
      </ol>
    </nav>
    <nav arialabel="breadcrumb">
      <span for="exampleInputEmail1">First Name</span>
      <ol class="breadcrumb">
        <li class="breadcrumbitem active" ariacurrent="page"><h3> <%= @user.first_name %></h3></li>
      </ol>
    </nav>
    <nav arialabel="breadcrumb">
      <span for="exampleInputEmail1">Last Name</span>
      <ol class="breadcrumb">
        <li class="breadcrumbitem active" ariacurrent="page"><h3> <%= @user.last_name %></h3></li>
      </ol>
    </nav>
    <nav arialabel="breadcrumb">
      <span for="exampleInputEmail1">Role</span>
      <ol class="breadcrumb">
        <li class="breadcrumbitem active" ariacurrent="page"><h3 class="role"> <%= @user.role %></h3></li>
      </ol>
    </nav>
  </div>
</div>
</div>