<div id="action-group" class="newspaper-wrapper">
  <div class="card mb-4" id="body-of-newspaper">
    <%= image_tag newspaper.avatar_url_newspaper, class: "Card image cap" %>
    <div class="img-fluid card-body ">
      <h2 class="card-title"><%= link_to newspaper.title, newspaper_path(newspaper) %></h2>
      <p class="card-text"><%= truncate newspaper.content, length: 200 %></p>

      <!-- Button trigger modal -->

      <div class="btn-group-toggle" data-toggle="buttons">
        <label >
          <i class="fa fa-tags btn btn-secondary tag-list">Tags</i>
           <%= raw newspaper.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "btn btn-light tag-list"}.join(', ') %>
        </label>
      </div>
      <div class="form-inline">
        <%= link_to "Read More", newspaper_path(newspaper), class: "btn btn-primary"%> 
        <%= link_to like_newspaper_path(newspaper), class: "like-btn", method: :put, remote: :true do %>
          <div class="col-md-3">
            <span><p><i class="fa fa-thumbs-up fa-2x"></i></p></span>
          </div>
        <% end %>
        <span class="likes-count-<%= newspaper.id %>"><%= newspaper.get_upvotes.size %></span>
      </div>
      
      <% if newspaper.user == current_user %>
        <%= link_to "Edit", edit_newspaper_path(newspaper), class: "btn btn-primary" %> 
        <%= link_to "Destroy", newspaper_path(newspaper),
                     method: :delete,
                       data: { confirm: "Are you sure? "}, class: "btn btn-primary" %> 
      
      <button class="btn btn-xs btn-default btn-primary hide-btn" type="button" id="hide-<%=newspaper.id%>">Hide</button>
      <% end %>
      <!-- Modal -->
    </div>

    <div class="card-footer text-muted">
      Posted on <%= time_ago_in_words(newspaper.created_at)%> by
      <%= link_to writer_full_name(newspaper), newspapers_path(filter: newspaper.user.id)%> 
    </div>
  </div>
</div>