<div id="action-group-<%=newspaper.id%>" class="newspaper-wrapper" >
  <div class="card mb-4" id="body-of-newspaper">
    <%= image_tag newspaper.avatar_url_newspaper, class: "Card image cap" %>
    <div class="img-fluid card-body ">
      <h2 class="card-title"><%= link_to newspaper.title, newspaper_path(newspaper) %></h2>
      <p class="card-text"><%= truncate newspaper.content.html_safe, length: 200 %></p>

      <!-- Button trigger modal -->

      <div class="btn-group-toggle" data-toggle="buttons">
        <label >
          <i class="fa fa-tags btn btn-secondary tag-list">Tags</i>
           <%= raw newspaper.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "btn btn-light tag-list"}.join(', ') %>
        </label>
      </div>
      <div class="form-inline">
        <%= link_to "Read More", newspaper_path(newspaper), class: "btn btn-primary"%> 

        <div class="button-react-modal"> </div>
      <button type="button" class="btn btn-primary like-btn" data-toggle="modal" data-target="#modal<%=newspaper.id%>" >
        <div>
          <%= link_to like_newspaper_path(newspaper)%>
            
            <div>
              <span><p><i class="fa fa-thumbs-up fa-2x"></i></p></span>
            </div>
        </div>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="modal<%=newspaper.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
              
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> 
            </div>
            <div class="modal-body">
              <%= link_to react_newspaper_path(newspaper, reaction: :like), method: :put, remote: :true do %>
                <%= image_tag "https://mir-s3-cdn-cf.behance.net/project_modules/disp/e4299734559659.56d57de04bda4.gif", class: "reaction-modal like-btn-modal" %>
              <%end%>

               <%= link_to react_newspaper_path(newspaper, reaction: :love), method: :put, remote: :true do %>
                <%= image_tag "https://mir-s3-cdn-cf.behance.net/project_modules/disp/65ea2034559659.56d57de06cea2.gif", class: "reaction-modal" %>
              <%end%>

              <%= link_to react_newspaper_path(newspaper, reaction: :haha), method: :put, remote: :true do %>
                <%= image_tag "https://mir-s3-cdn-cf.behance.net/project_modules/disp/35c9bf34559659.56d57de0eb467.gif", class: "reaction-modal" %>
              <%end%>

              <%= link_to react_newspaper_path(newspaper, reaction: :wow), method: :put, remote: :true do %>
                <%= image_tag "https://mir-s3-cdn-cf.behance.net/project_modules/disp/6105c734559659.56d59c54f0d05.gif", class: "reaction-modal" %>
              <%end%>

              <%= link_to react_newspaper_path(newspaper, reaction: :sad), method: :put, remote: :true do %>
                <%= image_tag "https://mir-s3-cdn-cf.behance.net/project_modules/disp/3eee1d34559659.56d59de621daa.gif", class: "reaction-modal" %>
              <%end%>

              <%= link_to react_newspaper_path(newspaper, reaction: :angry), method: :put, remote: :true do %>
                <%= image_tag "https://mir-s3-cdn-cf.behance.net/project_modules/disp/e66e6e34559659.56d57de095aee.gif", class: "reaction-modal" %>
              <%end%>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

        <div>
          <%= link_to like_newspaper_path(newspaper), class: "like-btn", method: :put, remote: :true do %>
            <div class="col-md-3">
              <span><p><i class="fa fa-thumbs-up fa-2x"></i></p></span>
              <span class="likes-count-<%= newspaper.id %>"><%= newspaper.get_upvotes.size %></span>
            </div>
          <% end %>
        </div>

        <div>
          <%= link_to unlike_newspaper_path(newspaper), class: "unlike-btn", method: :put, remote: :true do %>
            <div class="col-md-3">
              <span><p><i class="fa fa-thumbs-down fa-2x"></i></p></span>
              <span class="unlikes-count-<%= newspaper.id %>"><%= newspaper.get_dislikes.size %></span>
            </div>
          <% end %>
        </div>
      </div>


      <% if newspaper.user == current_user %>
          <%= link_to "Edit", edit_newspaper_path(newspaper), class: "btn btn-primary" %> 
          <%= link_to "Destroy", newspaper_path(newspaper),
                       method: :delete,
                         data: { confirm: "Are you sure? "}, class: "btn btn-primary" %> 
          <%# if params[:action] === "index" %>
          <%= link_to "Private", private_post_newspaper_path(newspaper), class: "btn btn-primary" %>
          <%# elsif params[:action] === "private" %>
            <%#= link_to "Public", private_post_newspapers_path(asd: 'asdads'), class: "btn btn-primary" %>
          <%# end %>
      <% end %>









      <!-- Modal -->
    </div>

    <div class="card-footer text-muted">
      Posted on <%= time_ago_in_words(newspaper.created_at)%> by
      <%= link_to writer_full_name(newspaper), newspapers_path(filter: newspaper.user.id)%> 
    </div>
  </div>
</div>