<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-7" >
    
    <h1 class="my-4-title" id="blog-title">Hoang Blog
      <small>Newspaper</small> 
      <span class="col-md-2 float-right ">
        <span class="row">
          <%= render 'newspapers/modal' %>
          <%= render 'newspapers/icon_sort' %>
        </span>
      </span> 
    </h1>
    <% @newspapers.each do |newspaper| %>
      <!-- Blog Post -->
      <%= render 'newspapers/action', newspaper: newspaper %>
    <% end %>
    <!-- Pagination -->
    <div class="row pagination" align="center">
      <%= will_paginate @newspapers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>

  <!-- Sidebar Widgets Column -->
  <div class="col-md-4 my-4-title">

    <!-- Search Widget -->
    <%= render 'search_widget' %>

     <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Categories</h5>
      <div class="card-body">
            <% if @tags.present? %>
              <% @tags.each do |tag| %>
                <span class="list-unstyled mb-0">
                    <button type="button" class="btn btn-outline-primary btn-sm btn-tag"><%= link_to tag.name, newspapers_path(filter_tag: tag.id) %></button>
                </span>
              <% end %>
            <% end %>
      </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
      <h5 class="card-header">Side Widget</h5>
      <div class="card-body">
        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
      </div>
    </div>
  </div>
</div>
