<div class="container">
  <h3 align="center" class="add"> Listing all Newspaper </h3>

  <%= link_to "Add New Newspaper", new_newspaper_path %> 

  <div class="row offset-3">
    <p align="center"><%= will_paginate @newspaper, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></p>
    
  </div>
    
  <table class="table table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <% @newspapers.each_with_index do |newspaper,index| %>
      <tr>
        <td><%= index +1 %></td>
        <td><%= newspaper.title %></td>
        <td class="content"><%= newspaper.content %> <br/>
            <small class="badge badge-pill badge-secondary">Created_by:<%= newspaper.user.first_name %> <%= newspaper.user.last_name%></small>
       <small class="badge badge-pill badge-secondary">Created_at:<%= time_ago_in_words(newspaper.created_at) %> ago</small></br>
          <%= link_to 'Show', newspaper_path(newspaper), class: "badge badge-success badge-small" %>
          <% if user_signed_in? && current_user == newspaper.user %>
          <%= link_to "Edit", edit_newspaper_path(newspaper), class: "badge badge-primary badge-small"%>
          <%= link_to "Destroy",  newspaper_path(newspaper),
                                    method: :delete,
                                    data: { confirm: "Are you sure? "}, class: "badge badge-danger badge-small" %>
          <%= raw newspaper.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "badge badge-warning badge-small" }.join(', ') %>
          <% end %>

        </td>
        
      </tr>
      <% end %>
    </tbody>
  </table>
  



 
