<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-7" >

    <h1 class="my-4-title">Hoang Blog
      <small>Newspaper</small> 
      <%= render 'newspapers/modal' %>
      <small>
        <li class="nav-item dropdown" style="list-style-type:none">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-sort-amount-down"></i> SORT BY
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Date created(oldest)", newspapers_path(order: "oldest"), class: "dropdown-item" %> 
            <%= link_to "Date created(newest)", newspapers_path(order: "newest"), class: "dropdown-item" %> 
            <%= link_to "Alphabet", newspapers_path(order: "alphabet"), class: "dropdown-item" %> 
          </div>
        </li>
      </small>
    </h1>
    <% @newspapers.each do |newspaper| %>
      <!-- Blog Post -->
      <%= render 'newspapers/action', newspaper: newspaper %>
    <% end %>

    <!-- Pagination -->
    <div class="row pagination" align="center">
      <%= will_paginate @newspapers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>

  <!-- Sidebar Widgets Column -->
  <div class="col-md-4 my-4-title">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <div class="input-group">
          <%= form_tag newspapers_path, :class =>"form-inline ", :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :class =>"form-control" %>

            <span class="input-group-btn ml-2">
            <%= submit_tag "Go!", :class => "btn btn-secondary my-2 my-sm-0" %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

     <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Categories</h5>
      <div class="card-body">
            <% if @tags.present? %>
              <% @tags.each do |tag| %>
                <span class="list-unstyled mb-0">
                    <button type="button" class="btn btn-outline-primary btn-sm btn-tag"><%= link_to tag.name, newspapers_path(filter_tag: tag.id) %></button>
                </span>
              <% end %>
            <% end %>
      </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
      <h5 class="card-header">Side Widget</h5>
      <div class="card-body">
        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
      </div>
    </div>
  </div>
</div>
