<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-7">

    <h1 class="my-4">Page Heading
      <small>Secondary Text</small> 
      <small>
       <li class="nav-item dropdown" style="list-style-type:none">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-sort-amount-down"></i> SORT BY
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Date created(oldest)", newspapers_path(order: "oldest"), class: "dropdown-item" %> 
            <%= link_to "Date created(newest)", newspapers_path(order: "newest"), class: "dropdown-item" %> 
            <%= link_to "Alphabet", newspapers_path(order: "alphabet"), class: "dropdown-item" %> 
            <%= link_to "Like", newspapers_path(order: "like"), class: "dropdown-item" %> 
            </a>
          </div>
        </li>
      </small>
    </h1>

    <% @newspapers.each do |newspaper| %>
      <!-- Blog Post -->
      <div class="card mb-4">
        <%= image_tag newspaper.avatar_url_newspaper, class: "card-img-top" %>
        <div class="card-body">
          
          <h2 class="card-title"><%= link_to newspaper.title, newspaper_path(newspaper) %></h2>
          <p class="card-text"><%= newspaper.content %></p>

          <!-- Button trigger modal -->

          <div class="btn-group-toggle" data-toggle="buttons">
            <label >
               <i class="fa fa-tags btn btn-secondary tag-list">  Tags</i>
               <%= raw newspaper.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "btn btn-light tag-list"}.join(', ') %>
            </label>
          </div>
          <%= link_to "Read More", newspaper_path(newspaper), class: "btn btn-primary"%> 
          <% if newspaper.user == current_user %>
          <%= link_to "Edit", edit_newspaper_path(newspaper), class: "btn btn-primary" %> 
          <%= link_to "Destroy", newspaper_path(newspaper),
          method: :delete,
          data: { confirm: "Are you sure? "}, class: "btn btn-primary" %> 
          <% end %>

          <!-- Modal -->

        </div>
        <div class="card-footer text-muted">
          Posted on <%= time_ago_in_words(newspaper.created_at)%> by
          <%= link_to writer_full_name(newspaper), newspapers_path(filter: newspaper.user.id)%> 
        </div>
      </div>
    <% end %>

    <!-- Pagination -->
    <div class="row pagination" align="center">
      <%= will_paginate @newspapers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>

  </div>

  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <div class="input-group">
          <%= form_tag newspapers_path, :class =>"form-inline ", :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :class =>"form-control" %>

            <span class="input-group-btn ml-2">
            <%= submit_tag "Go!", :class => "btn btn-secondary my-2 my-sm-0" %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

     <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Categories</h5>
      <div class="card-body">
            <% if @tags.present? %>
              <% @tags.each do |tag| %>
                <span class="list-unstyled mb-0">
                    <button type="button" class="btn btn-outline-primary btn-sm btn-tag"><%= link_to tag.name, newspapers_path(filter_tag: tag.id) %></button>
                </span>
              <% end %>
            <% end %>
      </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
      <h5 class="card-header">Side Widget</h5>
      <div class="card-body">
        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
      </div>
    </div>

  </div>

</div>
