<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-7">

    <h1 class="my-4"><%=@newspaper.title %>
    </h1>

        <!-- Blog Post -->
    <div class="card mb-4">
      <%= image_tag @newspaper.image.url(:medium), class: "Card image cap" %>
      <div class="card-body">
        <h2 class="card-title"><%= @newspaper.title %></h2>
        <p class="card-text"><%= @newspaper.content %></p>
      </div>
     
      <% if @newspaper.user.last_name ==current_user.last_name %>
        <div class="card-body">
          <%= render "comments/form" %>
          <%= render "comments/comment" %> 
        </div>
      <% end %>
    </div>
  </div>
</div>
