<nav class="navbar navbar-expand-lg navbar-default bg-light fixed-top">
  <a class="navbar-brand letter" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link letter" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link letter" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle letter" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Newspaper
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Create Newspaper", newspapers_path %> 
          <%= link_to "Show Listing Newspaper", newspapers_path %> 
        </div>
      </li>
        <% if admin_only  %>
          <%= link_to "Users", users_path, class: "nav-link"%> 
          <p > ADMIN</p>
        <% end %>
        
      
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form> -->
  <% if ((params[:controller] === "newspapers") && (params[:action] === "index")) %>
    <%= form_tag newspapers_path, :class =>"form-control", :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :class =>"form-control" %>
            <%= submit_tag "Search", :class => "btn btn-default" %>
    <% end %>
  <% else %>
    <%= form_tag users_path, :class =>"form-control", :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :class =>"form-control" %>
            <%= submit_tag "Search", :class => "btn btn-default" %>
    <% end %>
  <% end %>



  </div>

  <div class=" float-right" >
    <ul class="navbar-nav ">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.last_name %> <%= current_user.first_name %> 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit your profile", edit_user_registration_path(current_user), class: "nav-link" %>
          </div>
        </li>
      <%else %>
          <li><%= link_to "Log in", user_session_path, class: "nav-link float-right" %></li>
          <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link float-right" %></li>
        </div>
        
      <% end %>
    </ul>
  </div>
</nav>