<!DOCTYPE html>
<html>
<head>
  <title>Q7</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="/static/fontawesome/fontawesome-all.css" rel="stylesheet">

</head>

<body>
  <%= render "layouts/message" %> 
  <%= render "layouts/navigation" %> 
  <div class="container ">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %> 
  <%= debug(params)  %>
</body>

</html>

